// Noticias

.articulo1 h2{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
  }
  
  .articulo1 h3{
    font-size: 30px;
  }
  
  .articulo1 li{
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 20px;
  }
  
  .mi-articulo{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .mi-articulo h2{
    padding-bottom: 15px;
    font-size: 3rem;
    font-weight: 600;
  }
  
  .mi-articulo p{
    font-size: 1.5rem;
    line-height: 1.5;
  }

  @media (max-width: 768px){
    .articulo1 h2 {
        font-size: 2rem;
        padding-right: 40px;
    }
    .articulo1 h3{
      padding-right: 40px;
    }
    .articulo1 li{
      padding-right: 40px;
    }
    .mi-articulo p {
      font-size: 1rem;
      padding-right: 40px;
    }
    .media-container img {
      padding-right: 55px;
    }
    .media-container iframe {
      padding-right: 35px;
      border-radius: 10px;
    }
  }           